<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cafe House</title>
    <!--
    Cafe House Template
    https://www.templatemo.com/tm-466-cafe-house
    -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
    <link href="/Assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Assets/css/templatemo-style.css" rel="stylesheet">
    <link href="/Assets/css/my-customize.css" rel="stylesheet">
    <link rel="/Assets/shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/Assets/css/Cart.css">
    <link rel="stylesheet" href="~/Assets/css/Payment.css">
    <link rel="stylesheet" href="~/Assets/css/Profile.css" />
    <link rel="stylesheet" href="~/Assets/css/Noti.css">

    @*<link href="~/Assets/css/fontawesome-free-5.15.4-web/css/all.min.css" rel="stylesheet">*@


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <!-- Preloader -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Preloader -->
    <div class="tm-top-header">
        <div class="container">
            <div class="row">
                <div class="tm-top-header-inner">
                    <a href="/Home/Index" class="tm-logo-container">
                        <img src="/Assets/img/logo.png" alt="Logo" class="tm-site-logo">
                        <h1 class="tm-site-name tm-handwriting-font">Cafe House</h1>
                    </a>
                    <div class="mobile-menu-icon">
                        <i class="fa fa-bars"></i>
                    </div>
                    <nav class="tm-nav">
                        <ul id="tm-top-header-button">
                            <li><a href="/Home/Index" class="@ViewBag.Home" id="Home">@CoffeShop.Resources.Language.Home</a></li>
                            <li><a href="/TodaySpecials/Index" class="@ViewBag.TodaySpecials" id="Special">@CoffeShop.Resources.Language.TodaySpecials</a></li>
                            <li><a href="/Menu/Index" class="@ViewBag.Menu" id="Menu">@CoffeShop.Resources.Language.Menu</a></li>
                            <li><a href="/Contact/Index" class="@ViewBag.Contact" id="Contact">@CoffeShop.Resources.Language.Contact</a></li>
                            <div class="header__cart-wrap" id="Cart">
                            @{Html.RenderPartial("_Cart");}
                            </div>
                        </ul>
                    </nav>
                    @if (User.Identity.IsAuthenticated)
                    {

                        <div class="header__navbar-item header__navbar-user">
                            <img src="https://thuthuatnhanh.com/wp-content/uploads/2021/02/Anh-avatar-bua-cute-dep-390x390.jpg"
                                 alt="" class="header__navbar-user-img">
                            <span class="header__navbar-user-name">@User.Identity.Name</span>
                            <ul class="header__navbar-user-menu">
                                <li class="header__navbar-user-item">
                                    <a href="/Profile/Index">@CoffeShop.Resources.Language.MyProfile</a>
                                </li>

                                <li class="header__navbar-user-item">
                                    <a href="/Cart/Index">@CoffeShop.Resources.Language.Orders</a>
                                </li>
                                <li class="header__navbar-user-item header__navbar-user-item--separate">
                                    <a href="/Login/Logout">@CoffeShop.Resources.Language.Logout</a>
                                </li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <div class="header__navbar-item header__navbar-user">
                            <img src="https://banner2.cleanpng.com/20180402/bje/kisspng-computer-icons-avatar-login-user-avatar-5ac207e69ecd41.2588125315226654466505.jpg"
                                 alt="" class="header__navbar-user-img">
                            <a href="/Login/Index" class="header__navbar-user-name">@CoffeShop.Resources.Language.Login</a>
                        </div>
                    }

                </div>

                <select class="header__navbar-user-language select-language" onchange="LanguageGet(this.value)">
                    <option selected value="">@CoffeShop.Resources.Language.Lang</option>
                    <option value="en">@CoffeShop.Resources.Language.English</option>
                    <option value="vi">@CoffeShop.Resources.Language.Vietnamese</option>
                </select>

            </div>
        </div>
    </div>
    @RenderBody()

    @{

            Html.RenderPartial("_Notification");}
       
        <footer>
            <div class="tm-black-bg">
                <div class="container">
                    <div class="row margin-bottom-60">
                        <nav class="col-lg-3 col-md-3 tm-footer-nav tm-footer-div">
                            <h3 class="tm-footer-div-title">Main Menu</h3>
                            <ul>
                                <li><a href="#">@CoffeShop.Resources.Language.Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Directory</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Our Services</a></li>
                            </ul>
                        </nav>
                        <div class="col-lg-5 col-md-5 tm-footer-div">
                            <h3 class="tm-footer-div-title">@CoffeShop.Resources.Language.AboutUs_Title</h3>
                            <p class="margin-top-15 text-justify">@CoffeShop.Resources.Language.AboutUs_Content0</p>
                        </div>
                        <div class="col-lg-4 col-md-4 tm-footer-div">
                            <h3 class="tm-footer-div-title">Get Social</h3>
                            <div class="tm-social-icons-container">
                                <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-linkedin"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-youtube"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-behance"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="container">
                    <div class="row tm-copyright">
                        <p class="col-lg-12 small copyright-text text-center">Copyright &copy; 2022 Cafe House</p>
                    </div>
                </div>
            </div>
        </footer> <!-- Footer content-->
        <!-- JS -->
        <script type="text/javascript" src="/Assets/js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="/Assets/js/templatemo-script.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script type="text/javascript" src="/Assets/js/MycustomJs.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script><!-- Templatemo Script -->
        @RenderSection("scripts", required: false);
</body>
</html>