@model ViewModel.ProfileViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container container-profile">
    <h1 class="text-primary" id="title">Personal Profile</h1>
    <br />
    <div class="row">
        <!-- left column -->
        @using (Html.BeginForm("Index", "Profile", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
        {@Html.AntiForgeryToken()
        <div class="col-md-3">
            <div class="text-center">
                @{string base64String = Convert.ToBase64String(ViewBag.avatar, 0, ViewBag.avatar.Length); }
                <img src="data:image/jpg;base64,@base64String" class="avatar img-circle img-thumbnail" alt="avatar">
                <h6>Upload a different photo...</h6>
                <input type="file" class="form-control" name="ImageData" id="ImageData" onchange="fileCheck(this);">

            </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            <div class="alert alert-info alert-dismissable"></div>

            @*<div class="text-center">
                <h3 class="text-uppercase">Personal info</h3>
            </div>*@
            <br />
            @*<form class="form-horizontal" role="form">*@


            <div class="form-group">
                <label class="col-lg-3 control-label">User Name:</label>
                <div class="col-md-5">
                    <input class="form-control" id="username" type="text" value="@ViewBag.UserName" disabled="disabled">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Full Name:</label>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.FullName, new { @id = "fname", @class = "form-control", @type = "text", @required = "required"})
                    @*<input class="form-control" id="fname" type="text" value="Bui Dinh Loc">*@
                    @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Address:</label>
                <div class="col-lg-8">
                    @Html.TextAreaFor(m => m.Address, new { @id = "address", @class = "form-control", @rows = "2", @style = "resize: none;" })
                    @*<textarea class="form-control" id="address" rows="2" style="resize: none;">Trung Chanh, Hoc Mon, TP Ho Chi Minh</textarea>*@
                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Email:</label>
                <div class="col-md-6">
                    <input class="form-control" id="email" type="text" value="@ViewBag.Email" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Phone Number:</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @id = "phone", @class = "form-control", @type = "text", @required = "required" })
                    @*<input class="form-control" id="phone" type="text" value="+84969819201">*@
                    @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="text-right">
                    <button type="button" class="btn ">Cancel</button>
                    <input type="submit" class="btn btn--primary" id="ProfileChange" value="Update" />
                </div>
            </div>

            @*</form>*@
        </div>
    }
    </div>
    <br />
    <div class="spacing"></div>
</div>

