@model ViewModel.ContactViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
<!-- Preloader -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- End Preloader -->
<section class="tm-welcome-section">
    <div class="container tm-position-relative">
        <div class="tm-lights-container">
            <img src="/Assets/img/light.png" alt="Light" class="light light-1">
            <img src="/Assets/img/light.png" alt="Light" class="light light-2">
            <img src="/Assets/img/light.png" alt="Light" class="light light-3">
        </div>
        <div class="row tm-welcome-content">
            <h2 class="white-text tm-handwriting-font tm-welcome-header"><img src="/Assets/img/header-line.png" alt="Line" class="tm-header-line">&nbsp;Contact Us&nbsp;&nbsp;<img src="/Assets/img/header-line.png" alt="Line" class="tm-header-line"></h2>
            <h2 class="gold-text tm-welcome-header-2">Cafe House</h2>
            <a href="#main" class="tm-more-button tm-more-button-welcome">@CoffeShop.Resources.Language.MessageUs</a>
        </div>
        <img src="/Assets/img/table-set.png" alt="Table Set" class="tm-table-set img-responsive">
    </div>
</section>
<div class="tm-main-section light-gray-bg">
    <div class="container" id="main">
        <section class="tm-section row">
            <h2 class="col-lg-12 margin-bottom-30">@CoffeShop.Resources.Language.Contact_Title</h2>
            <form id="contactform" class="tm-contact-form">
               
                <div class="col-lg-6 col-md-6">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Name, new { @id = "contact_name", @class = "form-control", @type = "text", @placeholder = "NAME", @required = "required" })
                        @*<input type="text" id="contact_name" class="form-control" placeholder="NAME" />*@
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Email, new { @id = "contact_email", @class = "form-control", @type = "email", @placeholder = "EMAIL", @required = "required" })
                        @*<input type="email" id="contact_email" class="form-control" placeholder="EMAIL" />*@
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Subject, new { @id = "contact_subject", @class = "form-control", @type = "text", @placeholder = "SUBJECT", @required = "required" })
                        @*<input type="text" id="contact_subject" class="form-control" placeholder="SUBJECT" />*@
                        @Html.ValidationMessageFor(m => m.Subject, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.TextAreaFor(m => m.Message, new { @id = "contact_message", @class = "form-control", @rows = "7", @placeholder = "MESSAGE", @required = "required" })
                        @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <button class="tm-more-button" type="submit" onclick="ContactSend()">@CoffeShop.Resources.Language.SendMessage</button>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div id="google-map"></div>
                </div>
            </form>
        </section>
    </div>
</div>
@section scripts{
    <script>
        /* Google map
        ------------------------------------------------*/
        var map = '';
        var center;

        function initialize() {
            var mapOptions = {
                zoom: 16,
                center: new google.maps.LatLng(10.816730597714292, 106.71860882236689),
                scrollwheel: false
            };

            map = new google.maps.Map(document.getElementById('google-map'), mapOptions);

            google.maps.event.addEventListener(map, 'idle', function () {
                calculateCenter();
            });

            google.maps.event.addEventListener(window, 'resize', function () {
                map.setCenter(center);
            });
        }

        function calculateCenter() {
            center = map.getCenter();
        }

        function loadGoogleMap() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' + 'callback=initialize';
            document.body.appendChild(script);
        }
        $(document).ready(function () {
            loadGoogleMap();
        });
    </script>

}
