@model ViewModel.ProductViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> Product Management </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Forms</a></li>
                <li class="breadcrumb-item active" aria-current="page">Product Management</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Admin SignUp</h4>
                    <p class="card-description"> Admin SignUp </p>
                    <form class="adminsignupform">
                        <div class="form-group">
                            <label for="signupadmin-user">Username</label>
                            <input type="text"  id="adminname" class="form-control" placeholder="Username" >
                        </div>
                        <div class="form-group">
                            <label for="signupadmin-mail">Email address</label>
                            <input type="email"  id="adminemail" class="form-control" placeholder="Email" >
                        </div>
                        <div class="form-group">
                            <label for="signupadmin-password">Password</label>
                            <input type="password" id="adminpassword" class="form-control" placeholder="Password" >
                        </div>
                        <div class="form-group">
                            <label for="signupadmin-repassword">Confirm Password</label>
                            <input type="password" id="adminrepassword" class="form-control"  placeholder="Confirm Password">
                        </div>
                        <div class="form-check form-check-flat form-check-primary">
                            @*<label class="form-check-label">
                                <input type="checkbox" class="form-check-input"> Remember me
                            </label>*@
                        </div>
                        <button type="submit" class="btn btn-primary mr-2" onclick="SignUpAdmin()">Submit</button>
                        <button class="btn btn-dark">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Delete Product</h4>
                    <p class="card-description"> Delete Product Below </p>
                    <div class="forms-sample">
                        @using (Html.BeginForm("DeleteProduct", "BasicElement", FormMethod.Post))
                        {
                        <div class="form-group row">
                            <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Product ID</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.ProductId, new { @class = "form-control",@id="DeleteProductID",@placeholder = "Delete Product ID", @type = "text" })
                                @*<input type="text" class="form-control" id="exampleInputUsername2" placeholder="Product ID">*@
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary mr-2">Delete</button>
                        <button class="btn btn-dark">Cancel</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add Product</h4>
                    <p class="card-description"> Add Product Below </p>
                    <div class="forms-sample">
                        @using (Html.BeginForm("AddNewProduct", "BasicElement", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group">
                                <label for="exampleInputName1">Product ID</label>
                                @Html.TextBoxFor(m => m.ProductId, new { @class = "form-control", @placeholder = "Product ID", @type = "text" })
                                @*<input type="text" class="form-control" id="exampleInputName1" placeholder="Name">*@
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Product Name</label>
                                @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control", @placeholder = "Product Name", @type = "text" })
                                @*<input type="text" class="form-control" id="exampleInputName1" placeholder="Name">*@
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail3">Product Category ID</label>
                                @Html.TextBoxFor(m => m.ProductCategoryId, new { @class = "form-control", @placeholder = "Product Category ID" })
                                @*<input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">*@
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4">Price</label>
                                @Html.TextBoxFor(m => m.Price, new { @class = "form-control", @placeholder = "Price" })
                                @*<input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">*@
                            </div>
                            <div class="form-group">
                                <label for="exampleSelectGender">Discount</label>
                                @Html.TextBoxFor(m => m.Discount, new { @class = "form-control", @placeholder = "Discount" })
                                @*<select class="form-control" id="exampleSelectGender">*@
                                @*<option>Male</option>
                <option>Female</option>*@
                                @*</select>*@
                            </div>
                            <div class="form-group">
                                <label>Image upload</label>
                                @*@Html.TextBoxFor(m => m.Image, new { @class = "file-upload-default", @type = "file", @onchange="filecheck(this)",@name="ImageData" })*@
                                @*<input type="file" name="img[]" class="file-upload-default">*@
                                <input type="file" name="ImageData" class="file-upload-default" onchange="fileCheck(this);"/>
                                <div class="input-group col-xs-12">

                                    <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                                    <span class="input-group-append">
                                        <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleTextarea1">Description</label>
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @rows = "4", placeholder = "Type text here..." })
                                @*<textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>*@
                            </div>
                            <input type="submit" class="btn btn-primary mr-2" value="Add Product">
                            <button class="btn btn-dark">Cancel</button>
                        }
                    </div>
                </div>
            </div>
        </div>
 
    </div>
</div>

